#footer{
    width: 400px;
    margin-top: 5%;
}
.blockquote-footer{
	color: #fff;
}
#floater {
    background: #eceeef;
    padding: 3%;
    -webkit-box-shadow: -1px 0px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 14px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 14px 1px rgba(0,0,0,0.75);
}
body {
    font-weight: 400;
    background-color: #0090b7;
}
#top {
    margin-top:1%;
}

h2 {
    color: #fff;
}

#mapDIV{
    min-height: 400px;
    width: 100%;
    display: table;
    border: solid 1px black;
}

#load {
	display: none;
    width: 100%;
    height: 100%;
    background: #d6d6d6b5;
    position: absolute;
    z-index: 1;
}
