#b1 {
	background: #eceeef;
}
.jumbotron{
    -webkit-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.69);
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.69);
}

#top {
    border-bottom: .25rem solid #eceeef;
}
a {
    color: #ccc;
}
.btn-success:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    
}

.btn-success {
    margin-top: 10px;
    color: #fff;
    background-color: #0275d8;
    border-color: #eceeef;
}

#mapDIV{
    min-height: 400px;
    width: 100%;
    display: table;
    border: solid 1px black;
}
